@model List<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="list-topper">Customers</h2>

@Html.ActionLink("New Customer", "New", "", new { @class = "btn btn-primary btn-rg" })

@{
    if (Model.Count == 0)
    {
    <p>There are Current No Customers.</p>
    }
    else
    {
    <table class="table table-hover table-light table-data">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Membership Type</th>
            <th>Discount Rate</th>
        </tr>

        @foreach (var cust in Model)
            {
            <tr>
                <td>@cust.Id</td>
                <td>@Html.ActionLink(cust.Name, "Edit", "Customers", new { Id = cust.Id }, null)</td>
                <td>@cust.MembershipType.Name</td>
                <td>@cust.MembershipType.DiscountRate%</td>
            </tr>
        }
    </table>
    }
}
